.Feed__Reel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 10px;
  padding: 5px;
  overflow-x: scroll;
  overflow-y: hidden !important;
}
.feed__Reel--createStory {
  height: 34vh;
  min-width: 120px;
  box-shadow: var(--boxShadow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}
.feed__reel--userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.feed__Reel--createStory:hover{
  transform: scale(1.07);
  border-radius: 5px;
}
.feed__Reel--userImageDiv {
  height: 26vh;
}
.FeedReel__addIconDiv{
  height: 8vh;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 0 0 5px 5px ;

}
.FeedReel__addIconDiv span {
  position: relative;
  top: -20px;
  font-size: 12px;
}
.FeedReel__addIcon {
  fill: var(--color) !important;
  position: relative !important;
  top: -23px;
  font-size: 2rem !important;
  background-color: white;
  border: 5px solid white;
  border-radius: 50% !important;
}
/* Feed__feedCreateStory */
.Feed__feedCreateStory {
  margin: 1.5rem;
}
.feed__post {
  margin: 1.5rem;
}
