.header{
  display: flex;
  align-items: center;
  background-color: white;
  padding-top: 5px ;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
/* header left */
.header__Left{
  display: flex;
  align-items: center;
  flex: 0.25;
  padding-left: 10px;
  margin-bottom: 5px;
}
.fbIcon {
  color: var(--color);
  font-size: 3rem !important;
}
.header__left--search{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.header__left--expand{
  display: none;
}
.header__left--search > .MuiSvgIcon-root {
  color: grey;
}
.header__left--search > input {
  border: none;
  outline: none;
  background-color: var(--bgColor);
  margin-left: 5px;
}

/* Header Middle */
.header__middle{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0.5;
}
.header__middle div {
  padding: 8px 40px;
  color: gray;
}
.header__middle > div > .MuiSvgIcon-root {
  font-size: 1.8rem !important;
}
.header__middle div:hover {
  background-color: var(--bgColor);
  border-radius: 5px;
  padding: 8px 40px;
  cursor: pointer;
}
.header__middle--active{
  color: var(--color) !important;
  border-bottom: 2px solid var(--color);
  background-color: white !important;
  border-radius: 0 !important;
}
/* Header right */
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0.25;
    margin-bottom: 5px;

}
.header__right > span {
  display: flex;
  align-items: center;
  font-size: small ;
  padding: 5px;
  cursor: pointer;
}
.header__right > span:hover {
  background-color: var(--bgColor);
  border-radius: 2rem;
  padding: 5px;
}
.header__rightAvatar{
  width: 25px !important;
  height: 25px !important;
  margin-right: 5px;
}
.header__btnExpand{
  margin-left: 1rem !important;
}
.header__rightIcons, .header__btnExpand{
  width: 40px;
  height: 40px;
}
.header__rightIcons,.header__btnExpand:hover {
  width: 40px;
  height: 40px;
}
.header__rightIcons,.header__btnExpand .MuiSvgIcon-root {
  background-color: var(--bgColor) !important;
  border-radius: 50% !important;
  padding: 10px;
}

/* make the site responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__rightIcons{
    margin-left: .5rem !important;
  }
  .header__left--input, .header__middle{
    display: none;
  }
  .header__left--expand{
    display: block !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__rightIcons{
    margin-left: .5rem !important;
  }
  .header__left--input, .header__middle{
    display: none;
  }
  .header__left--expand{
    display: block !important;
  }
}

/* sidebarToggler css */
.sidebarToggler{
  position: relative;
  top: 9vh !important;
  left: 0 !important;
  width: 70vw !important;
  height: min-content !important;
}
/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (max-width: 600px) {
  .header__rightIcons{
    display: none !important;
  }
}


@media only screen and (min-width: 855px) {
  .header__left--input{
    display: flex;
  }
  .header__left--expand{
    display: none !important;
  }

} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .header__left--input, .header__middle{
    display: flex;
  }
  .header__left--expand{
    display: none !important;
  }
} 
