body{
  --color: #4267B2;
  --bgColor: #eff2f5;
  --boxShadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.app__header {
  position: sticky !important;
  top: 0 !important;
  z-index: 99 !important;
}
.app__body {
  display: flex;
  flex: 1;
  background-color: var(--bgColor);
}

/* .app__body > section {
  overflow-y: scroll;
} */
.app__bodySidebar{
  flex: 0.25;
  overflow-y: scroll;
}
.app__bodyFeed {
  flex: 1;
  overflow-y: scroll;
}
.app__bodyWidgets {
  flex: 0.25;
  display: none;
}
.MuiAvatar-root {
  z-index: 9 !important;
}