body{
  --color: #4267B2;
  --bgColor: #eff2f5;
  --boxShadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.app__header {
  position: sticky !important;
  top: 0 !important;
  z-index: 99 !important;
}
.app__body {
  display: flex;
  flex: 1;
  background-color: var(--bgColor);
}

.app__bodySidebar{
  top: 9vh;
  bottom:0;
  position:fixed;
  overflow-x:hidden;
  overflow-y:hidden;
  width: 22%;
}
.app__bodySidebar:hover{
  overflow-y:scroll !important;
}
.app__bodyFeed {
  flex: 1;
  overflow-y: scroll;
  margin-left: 25%;
  margin-right: 25%;
}
.app__bodyWidgets {
  top: 9vh;
  bottom:0;
  right: 0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  width: 25%;
}
.MuiAvatar-root {
  z-index: 9 !important;
}
/* scroll bars  */
::-webkit-scrollbar {
  width: 5px !important;
}
/* Optional: show position indicator in gray */
::-webkit-scrollbar-thumb {
  background: gray !important;
}

/* make the site responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app__bodySidebar{display: none !important;}
  .app__bodyFeed{margin: auto;}
  .app__bodyWidgets{display: none !important;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app__bodySidebar{width: 17%;}
  .app__bodyFeed{margin-right: auto;
    margin-left: 18%;
  }
  .app__bodyWidgets{display: none !important;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 855px) {
  .app__bodySidebar{width: 22%;}
  .app__bodyFeed{margin-left: 25%;}
  .app__bodyWidgets{display: none !important;}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .app__bodySidebar{width: 22%;}
  .app__bodyFeed{margin: 0 25%;}
  .app__bodyWidgets{display: flex !important;}
} 