.sidebarComponent {
  display: flex;
  align-items: center;
  flex: 0.25 !important;
  width: 99%;
  padding: 10px;
  font-size: 0.9375rem;
  font-weight: 500;
  overflow-wrap: break-word;
  text-align: left;
  cursor: pointer;
  user-select: none;
  margin-left: 5px;
  border-radius: 8px;
}

.sidebarComponent__Avatar {
  width: 30px !important;
  height: 30px !important;
}
.sidebarComponent:hover {
  background-color: rgba(128, 128, 128, 0.089);
}
.sidebarComponent__title{
  margin-left: 10px;
  font-weight: 500;
}
/* mobile responsiveness */
/* Medium devices (landscape tablets, 768px and up) */

@media screen and (max-width: 855px) {
  .sidebarComponent__title{display: none !important;}
  .sidebarComponent{
    margin-left: 0;
  }
  .iconCenter{
    margin: auto !important;
  }
} 